.h-nav-footer {
    min-height:calc(100vh - 112px);
}

footer {
    height:56px;
}

.bg-main1 {
    background-color: #d1f5d3;
}

.bg-main2 {
    background-color: #9dc6a7;
}

.bg-main3 {
    background-color: #7d5e2a;
}

.bg-main4 {
    background-color: #231903;
}