{% extends 'book_database/base.html' %}
{% load static %}

{% block content %}
<!-- Modal -->
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header bg-main1 text-light border-0">
          <h5 class="modal-title" id="exampleModalLongTitle">Top 5 liked books</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body bg-main2 text-light">
          <div class="w-100 h-100 row m-0 p-0" id="modal-list">
            
          </div>
        </div>
        <div class="modal-footer bg-main1 border-0">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

<div class="jumbotron bg-main2 text-light rounded-0 m-0">
    <div class="container">
        <h1 class="display-4">Book Database</h1>
        <p class="lead">Database provided by Google, Website made by Steven for the 9th Web Design and Programming Assignment</p>
        <hr class="my-4">
        <p>Search for the information of a book that you want here :)</p>
        <p class="lead">
        <div class="d-flex">
            <input type="text" id="book-form" class="form-control w-25 mr-1" placeholder="Book Title">
            <button class="btn btn-main1" id="find-btn" role="button">Search</button>
        </div>
        </p>
    </div>
</div>

<section class="bg-main3 text-light p-3 result-section">
    <h3 class="text-center p-0 m-0">Search Results (<span id="found-amount">?</span>):</h3>
    
    <div class="d-flex flex-column align-items-center" id="book-list">

        <h1 class="m-5">Search for a book first UwU</h1>

    </div>
</section>

<script>
    $(document).ready(function(){
        // Get JSON book
        $("#find-btn").click(() => {
            let searched_title = $("#book-form").val()

            if (searched_title == "") {
                alert("Please input a valid name")
            } else {
                $("#book-list").empty()
                try {
                    $.get(`https://www.googleapis.com/books/v1/volumes?q=${searched_title}`, (res) => {
                        for (book of res.items) {
                            update_ul(book)
                        }

                        $("#found-amount").text(res.items.length)
                    })
                } catch {
                    alert("Book not found.")
                }
                
            }
        })

        // Update ul
        function update_ul(book) {
            var ul = $("#book-list")
            try {
                var thumbnail_link = book.volumeInfo.imageLinks.thumbnail
            } catch {
                var thumbnail_link = "https://upload.wikimedia.org/wikipedia/commons/f/fc/No_picture_available.png"
            }
            var description = book.volumeInfo.description ? book.volumeInfo.description : "No description available"

            var likes
            $.get( `/story-9/get_likes/${book.id}`, (res) => {
                likes = res.likes
            }).done(() => {
                    ul.append(
                    `<div class="card w-75 border-dark m-3">
                        <h3 class="card-header bg-main1 text-center text-left-lg">${book.volumeInfo.title}</h3>
                        <div class="card-body bg-main2">
                            <div class="row">
                                <div class="col-lg-3 col-12 d-flex align-items-center justify-content-center">
                                    <img class="mr-3 book-cover" src="${thumbnail_link}">
                                </div>
                                <div class="col-lg-9 col-12 book-info">
                                    <h5 class="card-title">Published on ${book.volumeInfo.publishedDate}</h5>
                                    <p class="card-text text-justify">${description}</p>
                                    <button class="like-btn btn btn-main1" type="submit" title="${book.volumeInfo.title}" book_id="${book.id}" cover_link="${thumbnail_link}" description="${description}">Like this book</button>
                                    <h5 class="d-inline">Likes : ${likes}</h5>
                                </div>
                            </div>
                        </div>
                    </div>`
                )
            })


            
        }

        // Like button
        $("#book-list").click((e) => {
            if ($(e.target).hasClass("like-btn")) {
                var title = $(e.target).attr("title")
                var book_id = $(e.target).attr("book_id")
                var description = $(e.target).attr("description")
                var thumbnail_link = $(e.target).attr("cover_link")

                $.post("{% url 'book_database:add_like' %}", {
                    csrfmiddlewaretoken : "{{csrf_token}}",
                    title : title,
                    book_id : book_id,
                    cover_link : thumbnail_link,
                    description : description
                }).done(() => {
                    $.get(`/story-9/get_likes/${book_id}`, (res) => {
                        $(e.target).next().text(`Likes: ${res.likes}`)
                    })
                })
            }
        })

        // Modal Button
        $("#modal-btn").click(() => {
            $("#modal-list").empty()
            $.get("{% url 'book_database:top_five' %}", (res) => {
                for (book of res.data) {
                    $("#modal-list").append(
                        `
                        <div class="col-12 d-flex mt-2">
                            <img class="book-cover" src="${book.cover_link}">
                            <div class="p-2">
                                <h3>${book.title}</h3>
                                <h5>Likes: ${book.likes}</h5>
                            </div>
                        </div>
                        `
                    )
                }
            })
        })
    });
</script>

{% endblock content %}
