{% extends "mini_profile/base.html" %}
{% load static %}
{% block content %}

    <section class="h-main container-fluid" id="main-bg">
        <div class="row">
            <div class="col-lg-6 col-sm-12 h-main d-flex justify-content-center align-items-center flex-column">
                    <img class="w-50 bg-dark p-2 rounded-lg" src="{% static 'mini_profile/images/8259-min.jpg' %}">
                    <div class="mt-2 bg-dark text-light p-1 rounded-lg">
                        Hello, I'm Steven
                    </div>
            </div>
            <div class="col-lg-6 col-sm-12 h-main p-2">
                <div id="accordion">
                    <h3 position="0" class="p-2 m-0 accordion-tab text-light">
                        About me
                        <span class="mx-1 float-right down" id="down">
                            Down
                        </span>
                        <span class="mx-1 float-right up" id="up">
                            Up
                        </span>
                    </h3>
                    <p position="0" class="p-1 m-0 bg-success text-light">
                        Computer Science student, Interested in web development and mathematics, and is also fond of Japanese culture and language OwO
                    </p>
                    <h3 position="1" class="p-2 m-0 accordion-tab text-light">
                        What can I do?
                        <span class="mx-1 float-right down" id="down">
                            Bawah
                        </span>
                        <span class="mx-1 float-right up" id="up">
                            Atas
                        </span>
                    </h3>
                    <p position="1" class="p-1 m-0 bg-success text-light">
                        I can write code in Python, Javascript, Java, and Ruby
                    </p>
                    <h3 position="2" class="p-2 m-0 accordion-tab text-light">
                        Where do I live?
                        <span class="mx-1 float-right down" id="down">
                            した
                        </span>
                        <span class="mx-1 float-right up" id="up">
                            うえ
                        </span>
                    </h3>
                    <p position="2" class="p-1 m-0 bg-success text-light">
                        I live in North Jakarta, but my University is in Depok, West Java
                    </p>
                    <h3 position="3" class="p-2 m-0 accordion-tab text-light">
                        Can I get to know you?
                        <span class="mx-1 float-right down" id="down">
                            ↓
                        </span>
                        <span class="mx-1 float-right up" id="up">
                            ↑
                        </span>
                    </h3>
                    <p position="3" class="p-1 m-0 bg-success text-light">
                        Yes, follow my instagram, @stevensim226
                    </p>
                    <h3 position="4" class="p-2 m-0 accordion-tab text-light">
                        Where did you take that pic?
                        <span class="mx-1 float-right down" id="down">
                            下
                        </span>
                        <span class="mx-1 float-right up" id="up">
                            上
                        </span>
                    </h3>
                    <p position="4" class="p-1 m-0 bg-success text-light">
                        Tennoji Park, Osaka, Japan
                        <br>
                        天王寺公園、大阪、日本
                    </p>
                </div>

                <button class="btn btn-primary mt-2" id="change-theme-btn">Change theme here UwU</button>
            </div>
        </div>
    </section>

{% endblock %}