.bg-main1 {
    background-color: #363062;
}

.bg-main2 {
    background-color: #4d4c7d;
}

.bg-main3 {
    background-color: #827397;
}

.bg-main4 {
    background-color: #d8b9c3;
}

.btn-main1 {
    background-color: #363062;
    color: white;
}

.btn-main1:hover {
    background-color: #d8b9c3;
}

.result-section {
    min-height:250px;
}

.book-cover {
    height: 179px;
    width: 128px;
}

@media(max-width:768px) {
    .book-info {
        margin-top:20px;
    }
}
