{% extends "status_update/base.html" %}
{% block content %}

<section class="h-nav-footer container py-3 d-flex justify-content-center">
    <div class="w-75">
        <div class="card-header bg-main3 text-light">
          Confirmation
        </div>
        <div class="card-body bg-main1">
          <h5 class="card-title">You are about to post this status update:</h5>
          <p class="card-text m-0 p-0">Written by : {{name}}</p>
          <p class="card-text bg-light rounded-sm p-1">
              {{description}}
          </p>

            <div class="d-flex justify-content-around">
                <a href="{% url 'status_update:list_view' %}" class="btn btn-danger w-50 m-1">Cancel</a>
                <form action="{% url 'status_update:add_view' %}" method="POST" class="w-50">
                    {% csrf_token %}
                    <input type="hidden" value="{{name}}" name="name">
                    <input type="hidden" value="{{description}}" name="description">
                    <button type="submit" class="btn btn-success w-100 m-1">Post</button>
                </form>
            </div>
        </div>
      </div>
  </section>

{% endblock %}