{% extends "status_update/base.html" %}
{% block content %}

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header bg-main1">
          <h5 class="modal-title" id="exampleModalLabel">New status update</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body bg-main2">
          <form action="{% url 'status_update:confirm_view' %}" method="POST">
            {% csrf_token %}
            <div class="form-group">
              <label for="name">Name</label>
              {{form.name}}
            </div>
            <div class="form-group">
              <label for="description">What's on your mind?</label>
              {{form.description}}
            </div>
          
        </div>
          <div class="modal-footer bg-main1">
            <button type="submit" class="btn btn-success">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>

<section class="h-nav-footer container py-3">
    <div class="row">
        {% for status in status_update_query %}
        <div class="col-lg-3 col-md-6 col-sm-12">
            <div class="m-1 p-1 text-light rounded-sm" style="
              background-color:
              {% if status.1 == 0 %}
              red
              {% elif status.1 == 1 %}
              blue
              {% elif status.1 == 2 %}
              gold
              {% elif status.1 == 3 %}
              purple
              {% elif status.1 == 4 %}
              green
              {% endif %}
            ">
            Written by: {{status.0.name}}
            <p class="bg-light m-1 p-1 text-dark rounded-sm">
                {{status.0.description}}
            </p>
            <form action="{% url 'status_update:change_color'%}" method="POST">
              {% csrf_token %}
              <input type="hidden" name="idx" value="{{status.0.id}}">
              <button class="btn btn-primary w-100" type="submit">
                Change Color OwO
              </button>
            </form>
            </div>
        </div>
        {% endfor %}            
    </div>
</section>

{% endblock %}